<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <button class="fancy-button">Jan</button>
    </div>
    <div class="col">
      <button class="fancy-button">Feb</button>
    </div>
    <div class="col">
      <button class="fancy-button">March</button>
    </div>
    <div class="col">
      <button class="fancy-button">April</button>
    </div>
    <div class="col">
      <button class="fancy-button">May</button>
    </div>
    <div class="col">
      <button class="fancy-button">June</button>
    </div>
    <div class="col">
      <button class="fancy-button">July</button>
    </div>
    <div class="col">
      <button class="fancy-button">August</button>
    </div>
    <div class="col">
      <button class="fancy-button">Sept</button>
    </div>
    <div class="col">
      <button class="fancy-button">Oct</button>
    </div>
    <div class="col">
      <button class="fancy-button">Nov</button>
    </div>
    <div class="col">
      <button class="fancy-button">Dec</button>
    </div>
  </div>
</div>